li {
    display: inline-block;
    font-size: large;
    font-weight: bold;
    margin-inline-start: 100px;
    
    
    
}
h2 {
    color:green;
}

main article img {
    width: 80%;
   opacity: 0.7;

}

main article section img {
   width: fit-content;
  
}

header {
    background-color:#B32A1B;
    margin-bottom: 0px;

}

footer{
    background-color: #212540;
    padding: 0px;
    height: 50px;
    margin-top: 0px;
}

main{
    text-align: left;
}

h1{
    color: rgb(255, 255, 255);
    padding: 2px;
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

h2{
    color: #B32A1B;
    text-align: left;
}

h3, h4{
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 5px;
    color: white;
}



ul{
    padding-left: 100px;
    margin-top: 5px;
    text-align: center;
}

a{
    text-decoration: none;
    text-align: center;
    color: white;
}

main article section p {
    
}

footer p{
    text-align: center;
    color: white;
}

nav{
    position: centre;
    margin: 0px;
    padding: 0px;
}
